<!DOCTYPE html>
<html ng-app="ZeroVidzUser" lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>

	<title>ZeroVidz User</title>

	<!-- CSS -->
		<!-- lib -->
		<link href="assets/lib/angular-material/angular-material.css" rel="stylesheet" type="text/css"/>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<!-- app -->
		<link href="assets/css/style.css" rel="stylesheet" type="text/css"/>
	<!-- /CSS -->

	<!-- HTML5 Shim -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!--<base href="/">-->

</head>

<body class="ng-cloak" ng-controller="MainCtrl" ng-init="init()">

	<md-toolbar layout-padding class="md-hue-2 header" layout="row">
		<div class="pull-left col-xs-10">
		<h3><a href="/{{site_address}}">ZeroVidz Local User Interface</a></h3>
		</div>
		<div class="pull-right col-xs-2">
        <md-button class="md-primary md-raised edgePadding">
        	<a href="/{{site_address}}/upload.html">Upload</a>
        </md-button>
        </div>
	</md-toolbar>

	<section layout="row"  class="container">

	    <!-- MAIN -->
	    <md-content flex layout-padding class="main-content">

	    	<md-content class="md-whiteframe-1dp section" id="my-channel-section" my-channel ng-init="init()">
	    		<div class="section-title">
		 			<h2 ng-bind="channel.name"></h2>
		 			<a ng-hide="mode === 'edit'" ng-click="toggleScopeMode()">
		 				<span class="glyphicon glyphicon-pencil"></span>
		 			</a>
		 			<a ng-show="mode === 'edit'" ng-click="toggleScopeMode()">
		 				<span class="glyphicon glyphicon-remove"></span>
		 			</a>
	 			</div>
	 			<hr/>
	 			<div class="section-body">
					<div layout="row" ng-show="loading"  layout-sm="column" layout-align="space-around">
						<md-progress-circular md-mode="indeterminate"></md-progress-circular>
					</div>
		 			<div layout="row" flex  ng-hide="loading" ng-if="mode === 'view'">
			 			<figure flex="20">
			 				<img class="md-whiteframe-1dp" ng-src="uploads/images/{{channel.img}}"/>
			 			</figure>
			 			<div class="channel-info" flex="80" layout-padding>
			 				<article ng-bind="channel.description"></article>
			 			</div>
		 			</div>
		 			<div layout="row" flex  ng-hide="loading" ng-if="mode === 'edit'">
			 			<figure flex="20">
							<button dropzone="dropzoneConfig" ng-hide="imgSrc"> Drag and drop files here or click to upload</button>
							<img ng-src="uploads/images/{{channel.img}}" ng-hide="imgSrc"/>
							<img style="width:100%;" ng-src="{{imgSrc}}" ng-show="imgSrc" id="image"/>
			 			</figure>
			 			<div class="channel-info" flex="80" layout-padding>
				            <md-input-container class="md-block" flex-gt-sm>
				              	<label>Channel Name</label>
								<input type="text" ng-model="channel.name">
				            </md-input-container>
				            <md-input-container class="md-block" flex-gt-sm>
				              	<label>Channel Description</label>
								<textarea ng-model="channel.description"></textarea>
				            </md-input-container>
							<md-button class="md-primary md-raised edgePadding pull-right" ng-click="saveChannelDetails()">
					        	<label>Update Channel</label>
					        </md-button> 
			 			</div>
		 			</div>
	 			</div>
	    	</md-content>

		    <!-- videos section -->
		    <md-content id="videos-section" video-list ng-init="getVideos()" class="md-whiteframe-1dp section">
		    	<h2>Videos</h2>
		    	<hr/>
				<md-grid-list
			        md-cols-xs="1" md-cols-sm="3" md-cols-md="4" md-cols-gt-md="5" md-row-height="4:3"
			        md-gutter="12px" md-gutter-gt-sm="8px" >
					<md-grid-tile ng-repeat="video in videos" ng-init="renderVideo(video)" class="video-list-item">
						<div class="inner-wrap">
							<div class="video-img" style="background-image:url('{{video.imgSrc}}');">
		               			<span ng-click="deleteVideo(video)" class="glyphicon glyphicon-trash"></span>
								<span class="video-time">{{video.total_time | date:"mm:ss"}}</span>
							</div>
							<md-grid-tile-footer>
			    				<h3><a href="video.html?w={{video.video_id}}">{{video.title}}</a></h3>
			    				<span>{{video.user_id}}</span>
			    				<span>{{video.views}} views • <i am-time-ago="video.date_added"></i></span>
							</md-grid-tile-footer>
						</div>
					</md-grid-tile>
			    </md-grid-list>

			    <a ng-show="message" href="upload.html">{{message}}</a>

		    </md-content>
		    <!-- / videos section -->

	    </md-content>
	    <!-- /MAIN -->

	</section>

	<!-- JS -->

		<!-- angular -->
		<script type="text/javascript" src="assets/lib/angular/angular.min.js"></script>
	    <script type="text/javascript" src="assets/lib/angular/angular-route.min.js"></script>
	    <script type="text/javascript" src="assets/lib/angular/angular-animate.min.js"></script>
	    <script type="text/javascript" src="assets/lib/angular/angular-aria.min.js"></script>
		<script type="text/javascript" src="assets/lib/angular-sanitize/angular-sanitize.min.js"></script>
		<script type="text/javascript" src="assets/lib/angular-material/angular-material.min.js"></script>
		<script type="text/javascript" src="assets/lib/angular-sanitize/angular-sanitize.min.js"></script>
		<script type="text/javascript" src="assets/lib/videogular/videogular.js"></script>
		<script type="text/javascript" src="assets/lib/videogular-controls/vg-controls.js"></script>
		<script type="text/javascript" src="assets/lib/videogular-overlay-play/vg-overlay-play.js"></script>
		<script type="text/javascript" src="assets/lib/videogular-poster/vg-poster.js"></script>
		<script type="text/javascript" src="assets/lib/videogular-buffering/vg-buffering.js"></script>
		<script type="text/javascript" src="assets/lib/dropzone/dropzone.js"></script>
		<script type="text/javascript" src="assets/lib/moment/moment.js"></script>
		<script type="text/javascript" src="assets/lib/angular-moment/angular-moment.min.js"></script>
	    <script type="text/javascript" src="assets/lib/identicon/pnglib.js"></script>
	    <script type="text/javascript" src="assets/lib/identicon/identicon.js"></script>
	    <script type="text/javascript" src="assets/lib/angular-identicon/angular-identicon.min.js"></script>
    
		<!-- zeronet -->
		<script type="text/javascript" src="assets/lib/zeronet/ZeroFrame.js"></script>
		<script type="text/javascript" src="assets/lib/zeronet/ZeroChat.js"></script>

		<!-- app -->
		<script type="text/javascript" src="app/application.js"></script>		
		<script type="text/javascript" src="app/core/controllers/main.ctrl.js"></script>
		<script type="text/javascript" src="app/core/directives/file-model.directive.js"></script>
		<script type="text/javascript" src="app/core/directives/dropzone.directive.js"></script>
		<script type="text/javascript" src="app/core/directives/my-channel.directive.js"></script>
		<script type="text/javascript" src="app/core/directives/video-list.directive.js"></script>

	<!-- /JS -->  

</body>

</html>
