<!DOCTYPE html>
<html ng-app="ZeroVidzUser" lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>

	<title>ZeroVidz User</title>

	<!-- CSS -->
		<!-- lib -->
		<link href="assets/lib/angular-material/angular-material.css" rel="stylesheet" type="text/css"/>
		<!-- app -->
		<link href="assets/css/style.css" rel="stylesheet" type="text/css"/>
	<!-- /CSS -->

	<!-- HTML5 Shim -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!--<base href="/">-->

</head>

<body class="ng-cloak" ng-view ng-controller="MainCtrl" ng-init="init()">

	<md-toolbar layout-padding class="md-hue-2">
		<h3>ZeroVidz User Interface</h3>
	</md-toolbar>

	<section layout="row" flex>

		<!-- SIDE NAV -->
	    <md-sidenav
        class="md-sidenav-left"
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-sm')"
        md-disable-backdrop
        md-whiteframe="4">
			<md-content layout-padding>
				<ul>
					<li ng-repeat="item in navigation">
						<a ng-click="navigate(item.section)" ng-bind="item.label"></a>
					</li>
				</ul>
			</md-content>
	    </md-sidenav>
	    <!-- /SIDE NAV -->

	    <!-- MAIN -->
	    <md-content flex layout-padding>

	    	<!-- home section -->
		    <section id="home" ng-if="section === 'home'">
		    	<p>this is the home section</p>
				<form name="userDetails">
					<h3>Upload Image</h3>
	                <md-input-container class="md-block" flex-gt-sm>
	                  	<label>Image</label>
						<input type="file" accept="image/*" file-model="myFile"><br>
	                  	<img src="{{previewImage}}" ng-show="previewImage" />
	                </md-input-container>
	                <md-button class="md-primary md-raised edgePadding pull-right" ng-click="uploadFile(myFile)" >
	                	<label>Upload Image</label>
	                </md-button>
				</form>
		    </section>
		    <!-- /home section -->

		    <!-- my videos section -->
		    <section id="my-video-section" ng-if="section === 'videos'" ng-init="myVideos()">
		    	<p>hi</p>
		    	<ul>
		    		<li ng-repeat="video in videos">
		    			<figure>
		    				<img ng-src="uploads/posters/{{video.title}}.png"/>
		    			</figure>
		    			<div>
		    				{{video.title}}
		    				{{video.description}}
		    				{{video.user_id}}
		    			</div>
		    		</li>
		    	</ul>
		    </section>
		    <!-- /my videos section -->

		    <!-- video upload section -->
			<section id="video-upload-section" ng-if="section === 'upload'">
				<video-upload></video-upload>
			</section>
			<!-- /video upload section -->

	    </md-content>
	    <!-- /MAIN -->

	</section>

	<!-- JS -->

		<!-- lib -->
		<script type="text/javascript" src="assets/lib/angular/angular.min.js"></script>
	    <script type="text/javascript" src="assets/lib/angular/angular-route.min.js"></script>
	    <script type="text/javascript" src="assets/lib/angular/angular-animate.min.js"></script>
	    <script type="text/javascript" src="assets/lib/angular/angular-aria.min.js"></script>
		<script type="text/javascript" src="assets/lib/angular-sanitize/angular-sanitize.min.js"></script>
		<script type="text/javascript" src="assets/lib/angular-material/angular-material.min.js"></script>
		<script type="text/javascript" src="assets/lib/angular-sanitize/angular-sanitize.min.js"></script>
		<script type="text/javascript" src="assets/lib/videogular/videogular.js"></script>
		<script type="text/javascript" src="assets/lib/videogular-controls/vg-controls.js"></script>
		<script type="text/javascript" src="assets/lib/videogular-overlay-play/vg-overlay-play.js"></script>
		<script type="text/javascript" src="assets/lib/videogular-poster/vg-poster.js"></script>
		<script type="text/javascript" src="assets/lib/videogular-buffering/vg-buffering.js"></script>

		<!-- zeronet -->
		<script type="text/javascript" src="assets/lib/zeronet/ZeroFrame.js"></script>
		<script type="text/javascript" src="assets/lib/zeronet/ZeroChat.js"></script>

		<!-- app -->
		<script type="text/javascript" src="app/application.js"></script>
		<script type="text/javascript" src="app/core/controllers/main.ctrl.js"></script>
		<script type="text/javascript" src="app/core/directives/file-model.directive.js"></script>
		<script type="text/javascript" src="app/core/directives/video-upload.directive.js"></script>

	<!-- /JS -->  

</body>

</html>
